<div class="modal-overlay" *ngIf="isVisible" [ngClass]="{'fade-out': isClosing}" (click)="closeModal()">
    <div class="modal-content" [ngClass]="{'fade-out': isClosing}" (click)="$event.stopPropagation()"> <!-- Impede o clique de fechar quando for na modal -->
      <button class="close-btn" (click)="closeModal()">×</button>
      <h2>Experiência Profissional</h2>
      
      <div class="list">
        <div class="item">
          <h3>P. X. DE OLIVEIRA PAPELARIA E ATACADO</h3>
          <p class="job"><strong>Vendedor</strong> Jan/2014 - Ago/2015</p>
          <p>Atuei no atendimento direto ao cliente em ambiente de varejo, apoiando decisões de compra com foco em clareza, agilidade e boa experiência no atendimento.
          </p>
        </div>
        <div class="item">
          <h3>ELOVERDE AMBIENTAL</h3>
          <p class="job"><strong>Analista de Suporte</strong> Nov/2023 - Out/2025</p>
          <p>Fui responsável pelo suporte técnico aos clientes, realizando diagnóstico e resolução de incidentes da plataforma, além de registrar melhorias e apoiar a evolução contínua do produto.
          </p>
        </div>
        <div class="item">
          <h3>ELOVERDE AMBIENTAL</h3>
          <p class="job"><strong>Desenvolvedor FullStack Junior</strong> Out/2025 - Atualmente</p>
          <p>Atuo no desenvolvimento de software com foco em PHP (Laravel) e Angular, participando da implementação de funcionalidades, versionamento com Git e manipulação de dados em banco.
          </p>
        </div>
      </div>
    </div>
  </div>
