.navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #830000;
}