<div>
    <nav class="navbar">
        <div class="links">
            <a href="#" (click)="openProjectsModal()">Projetos</a>
            <a href="#" (click)="openExperienciaModal()">Experiência Profissional</a>
        </div>
        <div class="actions">
            <a (click)="downloadCurriculo()" class="download-btn">
                <i class="ph ph-file-arrow-down"></i>
                <span class="tooltip-text">Baixar Currículo</span>
            </a>
        </div>
    </nav>

    <!-- Modal -->
    <app-modal-experiencia
        [isVisible]="showExperienciaModal"
        (onClose)="showExperienciaModal = false">
    </app-modal-experiencia>
    <app-modal-projects
        [isVisible]="showProjectsModal"
        (onClose)="showProjectsModal = false">
    </app-modal-projects>
</div>