.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeInOverlay 0.5s ease-in-out; /* Animação de entrada */
    &.fade-out {
      animation: fadeOutOverlay 0.5s ease-in-out forwards; /* Animação de saída */
    }
  }
  
  .modal-content {
    position: relative; /* Garante que o botão de fechar está corretamente posicionado */
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%; /* Ocupar 95% da largura da tela */
    max-width: 600px;
    max-width: 800px; /* Limite máximo de largura */
    max-height: 90vh; /* Não ultrapassar 90% da altura da tela */
    overflow-y: auto; /* Adicionar rolagem vertical quando o conteúdo for maior que a altura */
    animation: fadeIn 0.5s ease-in-out; /* Animação de entrada */
  
    &.fade-out {
      animation: fadeOut 0.5s ease-in-out forwards; /* Animação de saída */
    }
  }
  
  .modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px; 
    border-bottom: 2px solid #830000; 
  }

  
  
  .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .list {
    margin-top: 30px;
  }
  
  .item {
    margin-top: 20px;
    border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }

  .description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    gap: 10px;
  }

  .description a {
    margin-inline: 1px; /* Adiciona espaço à direita de cada link */
  }

  
  .description a.link-hover {
    display: inline-block; /* Garante que a escala funcione */
  }
  
  p {
    font-size: 15px;
    line-height: 2; /* Melhor legibilidade */
    font-size: 16px;
    text-align: center;
    margin-inline: 10px;
    gap: 10px;
  }
  
  strong {
    background-color: #0c5641;
    color: #fff;
    padding: 3px;
    padding-inline: 20px;
    width: 300px;
    border-radius: 8px;
  }

  .project-image {
    display: block;
    width: 100%; /* A imagem ocupa toda a largura do card */
    max-height: 300px; /* Define uma altura máxima */
    object-fit: cover; /* Garante que a imagem não seja distorcida */
    margin-top: 15px; /* Espaçamento acima da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  @keyframes fadeOutOverlay {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  @keyframes fadeInOverlay {
    from {
      opacity: 0;
      transform: scale(1);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }