<div class="modal-overlay" *ngIf="isVisible" [ngClass]="{'fade-out': isClosing}" (click)="closeModal()">
    <div class="modal-content" [ngClass]="{'fade-out': isClosing}" (click)="$event.stopPropagation()">
        <!-- Impede o clique de fechar quando for na modal -->
        <button class="close-btn" (click)="closeModal()">×</button>
        <h2>Projetos</h2>

        <div class="list">
            <div class="item">
                <h3>SoftwareIPJ</h3>
                <div class="description">
                    <p><strong>Tecnologias</strong><br>Flutter - Dart - Supabase</p>
                    <p><strong>Conclusão</strong><br>Dezembro/24</p>
                    <p><strong>Links</strong><br>
                        <a href="https://github.com/kalebefukuda/SoftwareIPJ_app" class="link-hover">GitHub</a>
                        <a> - </a>
                        <a (click)="downloadDocument()" class="link-hover">Documentação</a>
                    </p>
                </div>
                <img src="assets/softwareipj.jpeg" alt="Imagem do Projeto SoftwareIPJ" class="project-image">
            </div>
        </div>
    </div>
</div>