/* Container Principal */
.container {
  display: flex;
  max-width: 1200px;
  max-height: 100%;
  margin: 0 auto;
  padding-block: 40px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  justify-content: center;
}

/* Main Content */
.main-content {
  flex: 2;
  margin-left: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    margin-top: 20px;
  }
}