.container {
  display: flex; /* Layout flexível */
  align-items: stretch; /* Faz os filhos ocuparem a mesma altura */
  justify-content: space-between; /* Espaça os itens no container */
  max-width: 1200px; /* Largura máxima do layout */
  margin: auto; /* Centraliza horizontalmente */
  padding: 40px; /* Adiciona um espaçamento interno */
  font-family: 'Poppins', sans-serif;
  color: #333;
  height: auto; /* Altura da janela menos o padding */
  box-sizing: border-box; /* Inclui o padding na altura total */
}

/* Main Content */
.main-content {
  flex: 2; /* Faz o conteúdo principal ocupar mais espaço horizontal */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px; /* Largura máxima definida */

}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empilha os elementos no mobile */
    padding: 40px 20px; /* Adiciona espaçamento superior e lateral */
  }

  .main-content {
    margin-left: 0;
    margin-top: 20px;
  }
}