<section class="intro">
    <h1>Olá, meu nome é <span class="highlight">João</span>,</h1>
    <p>
      Sou um entusiasta da tecnologia e estudante de Engenharia de Software na <span class="highlight">Universidade
      Católica de Santa Catarina</span>. Apaixonado por resolver problemas e criar soluções digitais, estou trilhando o
      caminho para me tornar um <span class="highlight">desenvolvedor Fullstack</span> completo, com foco inicial em front-end.<br><br>
      Minha jornada no desenvolvimento começou com a curiosidade de entender como os aplicativos e sistemas funcionam.
      Hoje, possuo experiência prática em <span class="highlight">HTML, CSS, JavaScript, C</span> e estou explorando novas fronteiras com <span class="highlight">Flutter, C#,
      e Angular</span>, criando interfaces funcionais e intuitivas para usuários. Além disso, domino ferramentas como <span class="highlight">Git, GitHub,
      e JIRA</span>, que me ajudam a organizar e colaborar em projetos de forma eficiente.<br><br>
      Nos bastidores, tenho experiência com bancos de dados relacionais, trabalhando com consultas SQL e modelagem de
      dados. Também gosto de prototipar ideias com <span class="highlight">Figma</span>, tornando conceitos visuais em projetos tangíveis.<br><br>
      Atualmente, desenvolvi projetos como o <span class="highlight">SoftwareIPJ</span>, um aplicativo feito em <span class="highlight">Flutter</span> para gerenciamento
      de membros de igrejas, e outros experimentos que unem tecnologia e praticidade. Meu objetivo é continuar
      aprendendo, crescendo e impactando o mundo com soluções tecnológicas inovadoras.<br><br>
      Seja desenvolvendo soluções para problemas complexos, ou aprimorando minhas habilidades, estou sempre em busca
      de novos desafios para expandir meus horizontes.
    </p>
  </section>