<section class="skills">
    <h2>Minhas habilidades</h2>
    <div class="skills-list">
        <div class="inner">
            <span class="skill">HTML/CSS/JS</span>
            <span class="skill">C</span>
            <span class="skill">C#</span>
            <span class="skill">Flutter</span>
            <span class="skill">Angular</span>
            <span class="skill">React</span>
            <span class="skill">SQL</span>
            <!-- Duplicação para criar o loop contínuo -->
            <span class="skill">HTML/CSS/JS</span>
            <span class="skill">C</span>
            <span class="skill">C#</span>
            <span class="skill">Flutter</span>
            <span class="skill">Angular</span>
            <span class="skill">React</span>
            <span class="skill">SQL</span>
        </div>
        <!-- Gradiente de fade -->
        <div class="fade"></div>
    </div>
</section>