<section class="skills">
    <h2>Meus conhecimentos</h2>
    <div class="skills-list">
        <div class="inner">
            <div
                *ngFor="let skill of skillsLoop"
                class="skill"
                [attr.data-progress]="skill.progress"
            >
                <div class="progress-bar" [style.--progress]="skill.percent + '%'"></div>
                {{ skill.name }}
            </div>
        </div>
        <!-- Gradiente de fade -->
        <div class="fade"></div>
    </div>
</section>
