<div class="sidebar">
  <div class="profile-container">
    <!-- Foto de perfil -->
    <div class="profile-img"></div>
  </div>
  <h2>João Paulo Duarte</h2>
  <p class="role">Software Developer</p>
  <ul class="contact-info">
    <li><i class="fas fa-map-marker-alt"></i> Joinville-SC</li>
    <li><i class="fas fa-envelope"></i> jpdx2010&#64;hotmail.com</li>
    <li><i class="fas fa-calendar"></i> 19/06/1996</li>
  </ul>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/jaooduartte/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/jaooduartte"><i class="fab fa-github"></i></a>
    <a href="https://wa.me/5547999919004"><i class="fab fa-whatsapp"></i></a>
    <a href="https://www.instagram.com/jaooduartte/"><i class="fab fa-instagram"></i></a>
  </div>
</div>