@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'phosphor-icons/src/css/icons.css';

html, body {
  height: 100%; /* Garante que o corpo da página ocupe toda a altura */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('assets/light-portfolio1.jpg'); /* Imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed; /* Faz o fundo ficar fixo */
}

app-root {
  width: 100%; /* Ajuste para evitar overflow */
}

@media (max-width: 768px) {
  .body {
    background-attachment: scroll; /* Alternativa para dispositivos móveis */
    background-size: auto;
    background-position: top; /* Ajusta a posição do fundo */
  }
}